img{
    max-width: 500px;
    float:right;
    margin-left: 15px;
}

body{
    background-color: antiquewhite;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
    font-weight: 550;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

#logo{
    width: 120px;
    float: left;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 50px;
}

.img_deg{
    float: right;
    width: 40%;
    position: absolute;
    padding-left: 500px;
    padding-top: 130px;
}

h3{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 60px;
    padding-top: 160px;
    width: 470px;
}

p{
    padding-left: 55px;
    width: 390px;
    font-size: 20px;
    width: 510px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    margin-left: 55px;
    padding-left: 17.5px;
    margin-top: 40px;
    border-color: antiquewhite;
    background-color: white;
    border-radius: 7px;
    font-weight: 790;
    padding: 10px;
    width: 150px;
    
}
.try{
    color: white;
    background-color: rgb(228, 95, 47);
    border-radius: 5px;
    padding: 2px;
}
#btn{
    color: white;
    background-color: rgb(228, 95, 47);
    border-radius: 7px;
    border-color: antiquewhite;
    padding: 10px;
}